customer-issue.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Buy_Sell_Closing_Date_Updated</name>
        <label>Buy-Sell Closing Date Updated?</label>
        <locationX>374</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesClosingDateUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closing_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closing_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer__r.Product_Offering__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buy-Sell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OHS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commitment</name>
        <label>Commitment?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Post_Option_Stage_Date_Filled_For_The_First_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>InsertCommitment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_Option_Stage_Date_Filled_For_The_First_Time</name>
        <label>Post Option Stage Date Filled For The First Time?</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Buy_Sell_Closing_Date_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPostOptionStageForTheFirstTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Post_Option_Stage_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Post_Option_Stage_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Original_Post_Option_Stage_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Original_Post_Option_Stage_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forHPCloseDatePlus14</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Closing_Date__c} + 14</expression>
    </formulas>
    <interviewLabel>Transaction: HP: After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction: HP: After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Fill_Original_Post_Option_Stage_Date</name>
        <label>Fill Original Post Option Stage Date</label>
        <locationX>242</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Fill_Original_Post_Option_Stage_Date_PIO</targetReference>
        </connector>
        <inputAssignments>
            <field>Original_Post_Option_Stage_Date__c</field>
            <value>
                <elementReference>$Record.Post_Option_Stage_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Fill_Original_Post_Option_Stage_Date_PIO</name>
        <label>Fill Original Post Option Stage Date PIO</label>
        <locationX>242</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Buy_Sell_Closing_Date_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Original_Post_Option_Stage_Date__c</field>
            <value>
                <elementReference>$Record.Post_Option_Stage_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Inspection_Overview__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>RecordTypeId = 0124P0000003QxnQAE ==&gt; &apos;Old Home Sale&apos;</description>
        <name>Update_OHS</name>
        <label>Update OHS</label>
        <locationX>242</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124P0000003QxnQAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expected_Listing_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Expected_Listing_Date__c</field>
            <value>
                <elementReference>forHPCloseDatePlus14</elementReference>
            </value>
        </inputAssignments>
        <object>Offer__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Commitment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Homeward Purchase</stringValue>
            </value>
        </filters>
        <object>Offer__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>